<!-- About Section -->
<section id="about" class="py-20 bg-gray-800 border border-gray-800">
  <div class="section-container">
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-12 items-center">
      <div>
        <h2 class="section-title">À propos de moi</h2>
        <p class="text-lg text-gray-300 mb-8 leading-relaxed">
          Développeur Backend passionné avec plus de 4 années d'expérience dans
          la création d'applications web robustes et d'APIs RESTful. Je me
          spécialise dans l'écosystème <span class="text-yellow-400"
            >Spring</span
          >, particulièrement avec <span class="text-yellow-400"
            >Spring Cloud</span
          >
          pour l'architecture microservices, déployée sur <span
            class="text-yellow-400">Kubernetes</span
          >.
        </p>

        <p class="text-lg text-gray-300 mb-10 leading-relaxed">
          Compétent en conception d'<span class="text-yellow-400"
            >APIs REST</span
          > scalables, je développe des solutions microservices performantes et facilement
          déployables. Ma passion pour l'architecture sécurisée m'amène à intégrer
          des solutions d'authentification comme <span class="text-yellow-400"
            >Keycloak</span
          >, tout en créant des <span class="text-yellow-400">APIs SaaS</span> avec
          modèle d'abonnement et une approche orientée performance.
        </p>

        <p class="text-lg text-gray-300 mb-10 leading-relaxed">
          Mon approche unit expertise technique et compréhension des enjeux
          business pour bâtir des fondations solides qui accompagnent votre
          croissance.
        </p>
        <a
          href="https://images.ghoverblog.ovh/blog/Ghalem Maxime CV.pdf"
          target="_blank"
          rel="noopener noreferrer"
          class="btn-primary"
        >
          Télécharger mon CV
        </a>
      </div>
      <div class="relative">
        <!-- Ici vous pouvez ajouter votre photo -->
        <img
          src="../../public/selfi.jpg"
          class="rounded-2xl shadow-2xl"
          alt="slef de Ghalem Maxime"
        />
      </div>
    </div>
  </div>
</section>
