---
import { getGithubArticle } from "../services/github.js";
import { marked } from "marked";
import { gfmHeadingId } from "marked-gfm-heading-id";

const { slug } = Astro.props;

let htmlContent;

if (slug) {
  console.log("1. Tentative récupération GitHub:", slug);
  try {
    const rawContent = await getGithubArticle(slug);
    marked.use(gfmHeadingId());
    htmlContent = marked(rawContent);

    //console.log("2. le contenu", htmlContent);
  } catch (error) {
    console.log("2. ERREUR GitHub:", (error as Error).message);
  }
} else {
  console.log("3. Pas de slug!");
}
---

<div class="py-20 bg-gray-800 text-white">
  <div class="max-w-4xl mx-auto px-4">
    {
      slug && htmlContent ? (
        <div>
          <a href="/Blogy-Astro/articlesPage" class="btn-link">
            ← Retour à la liste
          </a>

          <main class="prose max-w-none mt-8">
            <div set:html={htmlContent} />
          </main>
        </div>
      ) : (
        <div class="text-center">
          <h1 class="text-2xl mb-4">Aucun article sélectionné</h1>
          <a href="/Blogy-Astro/articlesPage" class="text-blue-400">
            ← Voir la liste des articles
          </a>
        </div>
      )
    }
  </div>
</div>
